.input-area > span {
    display: block;
}

.input-area {
    margin: 50px;
}

.niceList {
    margin: 50px;
    background-color: Green;
}

.naughtyList {
    margin: 50px;
    background-color: red;
}